*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161616;
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: -0.05em;
}

nav{
    padding: 2% 5%;
    display: flex;
    align-items: center;
}

p{
    margin-bottom: 6rem;
    font-size: clamp(20px, 2vw, 70px);
}

span{
    opacity: 0.1;
}

#bottom{
    margin-bottom: 100vh;
}